* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    min-width: 40rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    background-color: #EEEEEE;
}

.p_container {
    padding: 0 6rem;
}

header {
    width: 100%;
    min-height: 5rem;
    height: max-content;
    background-color: blue;
}

.img_bg {
    width: 100%;
    height: 30rem;
    background-color: red;
    margin: 0 0 2rem 0;
}

.content {
    display: flex;
    /* flex-direction: column-reverse; */
    width: 100%;
    gap: 2rem;
}

.col_1 {
    width: 70%;
    min-height: 5rem;
    background-color: yellow;
}

.col_2 {
    width: 30%;
    min-height: 5rem;
    background-color: aquamarine;
}


/* ----------------------content_box------------------ */
main {
    background-color: #EEEEEE;
    padding: 3rem;
}

.item_content_box {
    padding: 3rem 2rem;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 4rem;
}

.item_content_box p {
    color: #c3c3c3;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.btn_plus {
    position: absolute;
    bottom: -1rem;
    right: 2rem;
    background-color: #F9B526;
    border: none;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.4rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.8rem;
}

.p_size {
    color: rgb(164, 163, 163) !important;
}


/* -------------------footer----------------- */
footer {
    background-color: #000;
    padding: 1rem 0;
    color: #aaaaaa;
    text-align: center;
    font-size: 1.2rem;
}