* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    min-width: 40rem;
    font-size: 1.6rem;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.p_container {
    padding: 0 6rem;
    display: flex;
}
.left-header{
    font-weight: bold;
    font-size: 1.8rem;
}
.right-header{
    display: flex;
    align-content: center;
    justify-content: right;
    gap: 2rem;
}

header {
    width: 100%;
    min-height: 5rem;
    height: max-content;
}

.img_bg {
    width: 100%;
    height: 30rem;
    background-image:  linear-gradient(red, yellow);;
    margin: 0 0 2rem 0;
}

.content {
    display: flex;
    /* flex-direction: column-reverse; */
    width: 100%;
    gap: 2rem;
}

.col_1 {
    width: 70%;
    min-height: 5rem;
    background-color: yellow;
}

.col_2 {

    width: 30%;
    height: 15rem;
    /* min-height: 15rem; */
    /* background-color: aquamarine; */
    height: fit-content;

}

.col_2 li {
    list-style: none;
    background-color: #efeeec;
    margin: 1.5rem 0;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.col_2 li:hover {
    background-color: #d7d7d7;
}

.col_2 h5 {
    font-size: 1.rem;
    color: #b0a098;
}